@use "../abstract" as *;

/*----------------------------------------*/
/*   5. Button CSS
/*----------------------------------------*/

// Button-style
// Theme-btn
.bd-theme__btn-1 {
	display: inline-block;
	/*background: var(--clr-theme-1);*/
	background:#e5561b;
	height: 50px;
	padding: 0px 30px 0 65px;
	line-height: 50px;
	color: var(--clr-common-white);
	font-size: 16px;
	font-weight: 700;
	position: relative;
	/*border: 1px solid var(--clr-theme-1);*/
	&:before {
		position: absolute;
		content: "";
		height: 1px;
		width: 20px;
		background: var(--clr-common-white);
		top: 50%;
		transform: translateY(-50%);
		left: 30px;
	}
	&:hover {
		color: var(--clr-theme-1);
		border: 1px solid var(--clr-theme-1);
		background-color: transparent;
		&:before {
			background-color: var(--clr-theme-1);
		}
	}
}
.bd-theme__btn-2 {
	display: inline-block;
	background: transparent;
	height: 49px;
	padding: 0px 65px 0 30px;
	line-height: 50px;
	color: var(--clr-common-white);
	font-size: 16px;
	font-weight: 700;
	position: relative;
	@include transition(0.5s);
	&:hover {
		background: var(--clr-theme-1);
		color: var(--clr-common-white);
		&::after {
			display: none;
		}
	}
	&:before {
		position: absolute;
		content: "";
		background: var(--clr-common-white);
		height: 1px;
		width: 30px;
		top: 50%;
		right: 20px;
	}
	&:after {
		position: absolute;
		content: "";
		color: var(--clr-common-white);
		border: 2px solid var(--clr-common-white);
		opacity: 0.2;
		height: 100%;
		width: 100%;
		left: 0;
	}
}
.bd-theme__btn-3 {
	display: inline-block;
	height: 58px;
	padding: 0px 60px 0 30px;
	line-height: 60px;
	color: var(--clr-common-text);
	font-size: 16px;
	font-weight: 700;
	position: relative;
	background: var(--clr-common-white);
	border: 1px solid #efefef;
	@include transition(0.5s);
	&:before {
		position: absolute;
		content: "";
		width: 24px;
		height: 1px;
		background: var(--clr-theme-1);
		right: 25px;
		top: 50%;
		transform: translateY(-50%);
	}
	&:hover {
		background: var(--clr-theme-1);
		border-color: transparent;
		color: var(--clr-common-white);
		&::before {
			background: var(--clr-common-white);
		}
	}
}
.bd-theme__btn-4 {
	display: inline-block;
	background: var(--clr-theme-1);
	height: 49px;
	padding: 0px 65px 0 30px;
	line-height: 50px;
	color: var(--clr-common-white);
	font-size: 16px;
	font-weight: 700;
	position: relative;
	@include transition(0.5s);
	&:before {
		position: absolute;
		content: "";
		background: var(--clr-common-white);
		height: 1px;
		width: 30px;
		top: 50%;
		right: 20px;
	}
	&:after {
		position: absolute;
		content: "";
		color: var(--clr-common-white);
		border: 2px solid var(--clr-theme-1);
		opacity: 0.2;
		height: 100%;
		width: 100%;
		left: 0;
	}
	&:hover {
		background: transparent;
		color: var(--clr-common-white);
		&:after {
			color: var(--clr-common-white);
			border: 2px solid var(--clr-common-white);
		}
	}
}
.bd-theme__btn-5 {
	display: inline-block;
	background: var(--clr-theme-1);
	height: 60px;
	padding: 0px 30px 0 65px;
	line-height: 60px;
	color: var(--clr-common-white);
	font-size: 16px;
	font-weight: 700;
	position: relative;
	border: 1px solid var(--clr-theme-1);
	&:before {
		position: absolute;
		content: "";
		height: 1px;
		width: 20px;
		background: var(--clr-common-white);
		top: 50%;
		transform: translateY(-50%);
		left: 30px;
	}
	&:hover {
		color: var(--clr-theme-1);
		border: 1px solid var(--clr-theme-1);
		background-color: transparent;
		&:before {
			background-color: var(--clr-theme-1);
		}
	}
}
// Newsletter-btn
.n_btn {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 60px;
	border: 0;
	padding: 0 30px;
	background: var(--clr-theme-1);
	color: var(--clr-common-white);
	@media #{$xs} {
		padding: 0 15px;
	}
}
// Theme-btn-2
.bd-home-2__btn {
	height: 60px;
	display: inline-block;
	padding: 0px 39px;
	line-height: 60px;
	border-radius: 50px;
	font-size: 16px;
	color: var(--clr-common-white);
	background-color: transparent;
	font-weight: 700;
	@include transition(0.5s);
	background-image: linear-gradient(
		to right,
		#16578F,
		#16578F,
		#e9531b,
		#ff7033
	);
	background-position: 100% 100%;
	background-size: 300% 100%;
	&:hover {
		color: var(--clr-common-white);
		background-position: 0%;
	}
}
.bd-home-2__btn-2 {
	height: 60px;
	display: inline-block;
	padding: 0px 39px;
	line-height: 60px;
	border-radius: 50px;
	font-size: 16px;
	color: var(--clr-common-text-2);
	font-weight: 700;
	border: 1px solid var(--clr-border-7);
	background-image: linear-gradient(to right, #fff, #fff, #e9531b, #ff7033);
	background-size: 300% 0;
	&:hover {
		border-color: transparent;
		color: var(--clr-common-white);
		background-position: 100% 100%;
		background-size: 300% 100%;
	}
}
.bd-home-2__btn-3 {
	height: 60px;
	display: inline-block;
	padding: 0px 39px;
	background-image: linear-gradient(
		to right,
		#16578F,
		#16578F,
		#e9531b,
		#ff7033
	);
	line-height: 60px;
	border-radius: 50px;
	font-size: 16px;
	color: var(--clr-common-white);
	font-weight: 700;
	background-size: 300% 100%;
	@include transition(0.5s);
	&:hover {
		background-position: 100% 100%;
	}
}
// Theme-btn-3
.bd-theme-3-btn-1 {
	height: 60px;
	line-height: 60px;
	display: inline-block;
	background: var(--clr-theme-3);
	color: var(--clr-common-white);
	padding: 0 30px;
	border-radius: 6px;
	font-weight: 700;
	font-size: 16px;
	border: 1px solid var(--clr-theme-3);
	&:hover {
		background: transparent;
		border: 1px solid var(--clr-theme-3);
	}
}
.bd-theme-3-btn-2 {
	height: 60px;
	line-height: 60px;
	display: inline-block;
	background: var(--clr-body-blue-2);
	color: var(--clr-common-white);
	padding: 0 60px 0 30px;
	border-radius: 6px 0px 0px 6px;
	font-weight: 700;
	font-size: 16px;
	@media #{$xs} {
		padding: 0 30px;
		@include border-radius(6px);
	}
}
.bd-theme-3-btn-3 {
	height: 60px;
	line-height: 60px;
	display: inline-block;
	background: var(--clr-theme-3);
	color: var(--clr-common-white);
	padding: 0 30px 0 60px;
	border-radius: 0px 6px 6px 0px;
	font-weight: 700;
	font-size: 16px;
	@media #{$xs} {
		padding: 0 30px;
		@include border-radius(6px);
	}
}
.bd-theme-3-btn-4 {
	height: 60px;
	line-height: 60px;
	padding: 0 37px 0 37px;
	border-radius: 6px;
	font-weight: 700;
	font-size: 16px;
	background: transparent;
	border: 2px solid var(--clr-border-9);
	display: inline-block;
	i {
		padding-left: 10px;
	}
	&:hover {
		background-color: var(--clr-theme-3);
		border-color: transparent;
		color: var(--clr-common-white);
	}
}
.bd-theme-3-btn-5 {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	padding: 0 40px 0 40px;
	background: var(--clr-common-text-3);
	color: var(--clr-common-white);
	font-size: 16px;
	font-weight: 700;
	border-radius: 6px;
	@include transition(0.5s);
	i {
		padding-left: 10px;
	}
	&:hover {
		background-color: var(--clr-theme-3);
		color: var(--clr-common-white);
	}
}
.bd-theme-3-btn-6 {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	padding: 0 40px 0 40px;
	background: var(--clr-common-white);
	color: var(--clr-common-text-3);
	font-size: 16px;
	font-weight: 700;
	border-radius: 6px;
	box-shadow: 0px 16px 32px 0px rgba(20, 31, 43, 0.06);
	@include transition(0.5s);
	&:hover {
		background-color: var(--clr-theme-3);
		color: var(--clr-common-white);
	}
}
// Theme-btn-4
.bd-theme-4-btn-1 {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	background: var(--clr-theme-4);
	padding: 0 40px;
	border-radius: 50px;
	color: var(--clr-common-white);
	font-weight: 700;
	font-size: 16px;
	i {
		font-size: 12px;
		padding-left: 10px;
	}
	&:hover {
		background-color: var(--clr-theme-5);
		color: var(--clr-common-white);
	}
}
.bd-theme-4-btn-2 {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	background: var(--clr-theme-5);
	padding: 0 40px;
	border-radius: 50px;
	color: var(--clr-common-white);
	font-weight: 700;
	font-size: 16px;
	&:hover {
		background: var(--clr-theme-4);
		color: var(--clr-common-white);
	}
}
// Theme-btn-5
.bd-theme-5-btn-1 {
	display: inline-block;
	height: 50px;
	background-color: var(--clr-theme-6);
	padding: 0 40px;
	line-height: 48px;
	color: var(--clr-common-white);
	font-weight: 700;
	border-radius: 50px;
	border: 2px solid var(--clr-theme-6);
	&:hover {
		background: transparent;
		color: var(--clr-common-white);
		border: 2px solid var(--clr-theme-6);
	}
}
// Gadient-button
.bd-gadient__btn {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	background-image: linear-gradient(
		to right,
		#16578F,
		#16578F,
		#e9531b,
		#ff7033
	);
	background-image: -webkit-linear-gradient(
		to right,
		#16578F,
		#16578F,
		#e9531b,
		#ff7033
	);
	padding: 0 40px;
	border-radius: 10px;
	color: var(--clr-common-white);
	font-weight: 700;
	text-align: center;
	background-position: 100% 100%;
	background-size: 300% 100%;
	@include transition(0.5s);
	i {
		padding-left: 5px;
	}
	&:hover {
		background-position: 0% 100%;
		color: var(--clr-common-white);
	}
}
// Contact-btn-style
.bd-contact__btn-2 {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	background-color: var(--clr-theme-6);
	padding: 0 40px;
	color: var(--clr-common-white);
	font-weight: 700;
	border: 1px solid var(--clr-theme-6);
	&:hover {
		background: var(--clr-bg-footer-3);
		color: var(--clr-common-white);
		border-color: var(--clr-bg-footer-3);
	}
	i {
		padding-left: 10px;
		vertical-align: middle;
	}
}
.bd-contact__btn-3 {
	background: var(--clr-common-text-2);
	height: 60px;
	color: var(--clr-common-white);
	font-weight: 700;
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	border-radius: 10px;
	position: relative;
	z-index: 5;
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background-image: -webkit-linear-gradient(
			0deg,
			rgb(255, 56, 52) 0%,
			rgb(255, 112, 51) 100%
		);
		left: 0;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		border-radius: 8px;
	}
	&:hover {
		color: var(--clr-common-white);
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
}
// service-button
.bd-service-btn {
	height: 50px;
	padding: 0 45px;
	display: inline-block;
	line-height: 50px;
	background: var(--clr-common-white);
	box-shadow: 0px 16px 32px 0px rgba(20, 31, 43, 0.06);
	border-radius: 6px;
	font-weight: 700;
	color: var(--clr-common-text-3);
	i {
		position: relative;
		top: 2px;
		left: 4px;
		padding-left: 2px;
	}
	&:hover {
		background-color: rgb(0, 196, 154);
		color: var(--clr-common-white);
	}
}
.bd-service__btn {
	background: #f2f2f2;
	height: 60px;
	line-height: 60px;
	font-weight: 700;
	color: var(--clr-common-text-4);
	@include transition(0.5s);
	display: block;
	&:hover {
		background-color: var(--clr-theme-6);
		color: var(--clr-common-white);
	}
	i {
		padding-left: 5px;
		font-size: 14px;
	}
}
.bd-service-btn-2 {
	height: 50px;
	padding: 0 45px;
	display: inline-block;
	line-height: 50px;
	background: var(--clr-common-white);
	box-shadow: 0px 16px 32px 0px rgba(20, 31, 43, 0.06);
	border-radius: 6px;
	font-weight: 700;
	color: var(--clr-common-text-3);
	position: relative;
	z-index: 5;
	i {
		position: relative;
		top: 2px;
		left: 4px;
		padding-left: 2px;
	}
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background-image: -webkit-linear-gradient(
			0deg,
			rgb(255, 56, 52) 0%,
			rgb(255, 112, 51) 100%
		);
		left: 0;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		border-radius: 6px;
	}
	&:hover {
		color: var(--clr-common-white);
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
}
// portfolio-btn
.bd-portfolio__btn {
	height: 60px;
	padding: 0 45px;
	display: inline-block;
	line-height: 60px;
	background: var(--clr-common-white);
	box-shadow: 0px 16px 32px 0px rgba(20, 31, 43, 0.06);
	border-radius: 6px;
	font-weight: 700;
	color: var(--clr-common-text-3);
	position: relative;
	z-index: 5;
	border: 1px solid #dcdcdc;
	i {
		position: relative;
		top: 2px;
		left: 4px;
		padding-left: 2px;
	}
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background-image: -webkit-linear-gradient(
			0deg,
			rgb(255, 56, 52) 0%,
			rgb(255, 112, 51) 100%
		);
		left: 0;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		border-radius: 6px;
	}
	&:hover {
		color: var(--clr-common-white);
		border-color: var(--clr-common-white);
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
}
// Course-btn
.e-btn {
	display: inline-block;
	height: 50px;
	line-height: 52px;
	text-align: center;
	padding: 0 25px;
	color: var(--clr-common-white);
	background: var(--clr-theme-3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: 500;
}
