@use "../abstract" as *;

/*----------------------------------------*/
/*   20. History CSS
/*----------------------------------------*/

// History-style
.bd-history-active {
	position: relative;
	margin-right: -315px;
}
.bd-history-number {
	span {
		background: var(--clr-common-white);
		position: relative;
		padding: 8px 20px 4px 30px;
		border-radius: 50px;
		box-shadow: 0px 16px 32px 0px rgba(20, 31, 43, 0.06);
		display: inline-block;
		color: var(--clr-common-text-3);
		line-height: 1;
		font-weight: 700;
		&::before {
			position: absolute;
			content: "";
			height: 8px;
			width: 8px;
			top: 50%;
			transform: translateY(-50%);
			left: 15px;
			border-radius: 50%;
			background: var(--clr-theme-3);
		}
	}
}
.bd-history-content {
	position: relative;
	padding-right: 40px;
	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 1px;
		background: var(--clr-border-11);
		bottom: -50px;
	}
	&::after {
		position: absolute;
		content: "";
		height: 22px;
		width: 1px;
		background: var(--clr-border-11);
		left: 0;
		bottom: -60px;
	}
	h3 {
		margin-bottom: 10px;
		color: var(--clr-common-text-3);
	}
}
.bd-history-brand {
	margin-top: 100px;
	margin-top: 100px;
	min-height: 134px;
	display: flex;
	align-items: center;
	a {
		img {
			opacity: 0.6;
			@include transition(0.5s);
		}
	}
	&:hover {
		a {
			img {
				opacity: 100%;
			}
		}
	}
}

// histoty-navigation
.bd-histoiry-nav {
	position: absolute;
	top: 16%;
	right: 0;
	display: flex;
	gap: 20px;
	align-content: center;
	@media #{$xs} {
		display: none;
	}
}
.bd-histoiry-button {
	width: 60px;
	height: 60px;
	background: var(--clr-common-white);
	text-align: center;
	line-height: 65px;
	border-radius: 50%;
	font-size: 20px;
	color: #070707;
	@include transition(0.5s);
	&:hover {
		background: var(--clr-theme-3);
		i {
			color: var(--clr-common-white);
		}
	}
}
