$colors: (
	common: (
		white: #fff,
		black: #000,
		heading: #000000,
		text: #191919,
		text-2: #16578F,
		text-3: #070707,
		text-4: #343a40,
		border: #2864b6,
		placeholder: #a0a0a0,
		paragraph:#777777,
		yellow:#d1da3f,
	),
	theme: (
		1: #0e51ac,
		2: #e9531b,
		3: #16578F, 
		4: #16578F,
		5: #fd5a23,
		6: #ff8a00,
	),
	bg: (
		gray: #edf4f6,
		section: #f8f8f8,
		section-2: #f4f4f4,
		section-3: #f9f9f9,
		black: #131212,
		footer-2: #eeeeee,
		footer-3: #20252b,
		footer-4:#12161a,
	),
	body: (
    	grey:#999999,
        grey-2:#e4e4e4,
        grey-3:#898989,
        grey-4:#000000,
        grey-5:#e3e3e3,
		grey-6:#9ba6b2,
		blue: #16578F,
		blue-2: #16578F,
		blue-soft: #a4c2eb,
		blue-soft-2: #ecf7fb,
    ),
	stroke: (
		1: #828286,
		2: #f1f1f1,
		3: #e4e4e4,
		4: #1a59b0,
		5:	#f6f6f6,
	),
	border: (
		1:#e1e1e1,
		2:#f0f0f0,
		3:#eaeaea,
		4:#373434,
		5:#25333A,
		6:#e7e7e7,
		7:#e9e9e9,
		8:#e5e5e5,
		9:#ececec,
		10:#dfdfdf,
		11:#dfdfdf,
		12:#d9d9d9,
		13:#f5f5f5,
		14:#eeeeee,
	),
	footer: (
		1: #aeaeae,
		2: #cdcdcd,
		3: #070707,
		4:#a4b4e0,
		5:#8b929b,
	)
);
